.topicos{
    background: var(--azul-degrade);
    padding: 24px 0;
    margin-bottom: 300px;
    text-align: center;

    
}
.topicos__titulo {
    color: var(--cor-branco);
    font-weight: 300;
    margin-bottom: 20px;
    
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.topicos__link {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 24px;
    margin: 5px 5px;
    color:var(--cor-branco);
    text-decoration: none;
    background-color: var(--cor-laranja);
    
    
}